* {
  box-sizing: border-box;
}

:root {
  --header-gb: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/*********** common CSS ***********/
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;
  --width: 205px;
  background: #2e80ce;
  border: 1px solid var(--header-gb);
  border-radius: 99px;
  height: var(--height);
  min-width: var(--width);
  color: #ffff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: cal(var(--height) - 1px);
}

.btn:hover {
  opacity: 0.92;
  cursor: pointer;
}

.session__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
  margin-bottom: 18px;
}

.session__description {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

/*********** Header CSS ***********/
.header {
  min-height: 100vh;
  background: var(--header-gb);
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo CSS */
.logo {
  position: relative;
  font-size: 1rem;
  display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  top: 1.1em;
  left: 1.1em;
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  background: #ffff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  color: #ffff;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Navbar CSS */
.navbar__list {
  display: flex;
}

.action__signup {
  --height: 44px;
  --width: 104px;
  font-size: 1.6rem;
}

.action__login,
.navbar__link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}

.action__login:hover,
.navbar__link:hover,
.navbar__link--active {
  font-weight: 400;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background: #ffff;
  position: relative;
  left: -8px;
  top: -2px;
}

/* Hero CSS */
.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  width: 44%;
  flex-shrink: 0;
}

.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
  margin-bottom: 22px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-bottom: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  margin-left: 38px;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/*********** Service CSS ***********/
.service {
  margin-top: 170px;
}

.service__description,
.service__headding {
  text-align: center;
}

.service__description {
  max-width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__image {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  padding: 21px 0px 20px 22px;
}

.service-item:hover {
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: #fff;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  background-color: #eff6fd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 21px 19px 0px 21px; */
  margin-right: 19px;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  max-width: 388px;
}

.service__list {
  margin-bottom: 75px;
}

/*********** Works CSS ***********/
.works {
  margin-top: 170px;
  background: #f6fbff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transform: 0.25s;
}

.work-item:hover {
  border: 16px solid #2e80ce;
  transform: translateY(-16px);
}

.work-item__icon {
  width: 72px;
  height: 72px;
}

.work-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}

.work-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 28px;
}

.work-item__more {
  display: inline-block;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 18px;
}

/*********** Features CSS ***********/

.feature {
  margin-top: 170px;
}

.feature__media {
  width: 48%;
}

.feature__images {
  position: relative;
  padding-right: 58px;
  padding-bottom: 121px;
}

.feature__img {
  width: 512px;
  height: 370px;
  object-fit: cover;
}

.feature__img:last-child {
  width: 332px;
  height: 370px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.feature__inner {
  display: flex;
  gap: 130px;
}

.feature__action {
  margin-top: 38px;
}

/*********** Team CSS ***********/
.team {
  margin-top: 170px;
}

.team__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__cta {
  margin-top: 38px;
  margin-bottom: 70px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team-card__bg {
  width: 270px;
  height: 318px;
  border-radius: 6px;
  background: #eaf6ff;
  padding: 28px 4px 0px 4px;
  overflow: hidden;
  transition: 0.25s;
}

.team-card__thumb {
  /* display: block; */
  width: 262px;
  height: 290px;
  border-radius: 6px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.team__item:hover .team-card__thumb {
  transform: scale(1.1);
}

.team-info {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-info__name {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75; /* 175% */
}

.team-info__title {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}

.team-control {
  margin-top: 38px;
  display: flex;
  column-gap: 18px;
  justify-content: center;
  align-items: center;
}

.control__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  outline: none;
  border-radius: 50%;
  border: 1px solid #575f66;
  background: #fff;
  color: #575f66;
}

.control__btn:hover {
  background: #2e80ce;
  color: #fff;
  border: 1px solid #2e80ce;
}

.control__btn-next {
  transform: rotate(180deg);
}

/*********** App Install CSS ***********/
.appinstall {
  margin-top: 265px;
}

.appinstall__inner {
  display: flex;
  justify-content: space-between;
  background-color: #2e80ce;
  padding: 0px 70px;
  align-items: center;
}

.appinstall__mobile {
  width: 284px;
  height: 522px;
  object-fit: cover;
  display: block;
  margin-top: -95px;
}

.appinstall__content {
  max-width: 586px;
}

.appinstall__heading {
  max-width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
  margin-bottom: 18px;
}

.appinstall__desc {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-bottom: 38px;
}

.appinstall__row img:first-child {
  margin-right: 28px;
}

/*********** News CSS ***********/
.news {
  margin-top: 170px;
}

.news__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-intro {
  width: 40%;
}

.news-info__heading {
  max-width: 470px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.news-info__blog {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 4px;
  margin-top: 28px;
  margin-bottom: 28px;
  display: block;
}

.news-control {
  display: flex;
  gap: 20px;
}

.news-list {
  display: flex;
  column-gap: 30px;
}

.news-item {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
}

.news-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.news-item__image {
  width: 100%;
  height: 172px;
  object-fit: cover;
}

.news-item__inner {
  padding: 22px;
}

.news-item__title {
  max-width: 224px;
  color: #10375c;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
  margin-bottom: 10px;
}

.news-item__news {
  max-width: 226px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
  margin-bottom: 12px;
}

.news-item__more {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}

.news-item__more:hover {
  text-decoration: underline;
}

/*********** Appointment CSS ***********/
.appointment {
  margin-top: 170px;
}

.appointment__inner {
  background: #f6fbff;
  padding: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment__heading {
  max-width: 813px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
  position: relative;
  padding-bottom: 20px;
}

.appointment__heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 136px;
  height: 2px;
  flex-shrink: 0;
  background: #2e80ce;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.appointment__desc {
  max-width: 617px;
  /* display: inline-block; */
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 38px;
  margin-bottom: 38px;
}
