* {
  box-sizing: border-box;
}

:root {
  --header-gb: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/*********** common CSS ***********/
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;
  --width: 205px;
  background: #2e80ce;
  border: 1px solid var(--header-gb);
  border-radius: 99px;
  height: var(--height);
  min-width: var(--width);
  color: #ffff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: cal(var(--height) - 1px);
}

.btn:hover {
  opacity: 0.92;
  cursor: pointer;
}

/*********** Header CSS ***********/
.header {
  min-height: 100vh;
  background: var(--header-gb);
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo CSS */
.logo {
  position: relative;
  font-size: 1rem;
  display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  top: 1.1em;
  left: 1.1em;
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  background: #ffff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  color: #ffff;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Navbar CSS */
.navbar__list {
  display: flex;
}

.action__signup {
  --height: 44px;
  --width: 104px;
  font-size: 1.6rem;
}

.action__login,
.navbar__link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}

.action__login:hover,
.navbar__link:hover,
.navbar__link--active {
  font-weight: 400;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background: #ffff;
  position: relative;
  left: -8px;
  top: -2px;
}
